:root {
  --color-black: #000000;
  --color-green: #34c94b;
}

.btn {
  background-color: var(--color-black);
  color: var(--color-green);
  padding: 10px 18px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: none;
}
