.hero {
  width: 100%;
  background-color: #121212;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
}

.hero-text h1 {
  font-size: 48px;
  color: white;
}

.hero-text p {
  color: #a7a7a7;
}

.hero-img img {
  height: 300px;
}
