.card {
  width: 160px;
  border-radius: 10px;
  overflow: hidden;
  background: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.albumImage {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.albumInfo {
  padding: 8px;
}

.albumTitle {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.albumSubtitle {
  font-size: 12px;
  margin: 4px 0 0;
  color: #bbbbbb;
}
