.button {
  background-color: #121212;
  color: #34C94B;
  padding: 8px 16px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #34C94B;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
